.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    block-size: auto;
    writing-mode: horizontal-tb;
    padding-top: 24px;
}

q {
    font-style: italic;
    font-weight: normal;
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font: italic "Fira Sans", sans-serif;
    font-size: 16pt;
}